<section class="welcome-body">
    <div class="my-container">
        <div class="logo">
            <img src="/assets/img/growthspace-logo.webp"> 
        </div>
        <div class="welcome">
            <h1>{{content.title}}</h1>
        </div>
        <div class="describe">
            <p>{{content.describe}}</p>
        </div>
        <div class="selection-box">
            <p>{{content.selectionHeader}}</p>
          
            <div class="selectors">
                <div *ngFor="let selector of selectionBox" class="selectors-box">
                    <div>
                        <img (click)="positionChange(selector)" [src]="selector.active == 1 ? selector.svgSrcRed : selector.svgSrc" [alt]="selector.titleName"> 
                    </div>
                    <div>
                        <span [ngStyle]="{'color':selector.active == 1 ? 'red' : ''}">{{selector.titleName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="profileForm" class="form-box"  >
            <form  [formGroup]="profileForm" >
            <div class="organization">
                <div class="form-txt-container">
                    <span class="form-txt">{{content.organizationTxt}}</span>
                </div>
                <div class="form-btn-containar">
                    <button class="btn btn-form btn-form-organization" type="button" [value]="years.txt"  (click)="yearsChange(years)" [ngClass]="{'btn-active':years.active==1}" *ngFor="let years of content.amountOfYears">{{years.txt}}</button>
                </div>
            </div>
            <div class="employees">
                <div class="form-txt-container ">
                    <span class="form-txt organization-txt">{{content.employeesTxt}}</span>
                </div>
                <div class="form-btn-containar">
                <button class="btn btn-form" type="button"  (click)="employeeChange(amount)" [ngClass]="{'btn-active':amount.active==1}" *ngFor="let amount of content.amountOfEmployees">{{amount.txt}}</button>
                </div>
            </div>
            <div class="phone">
                <div class="form-txt-container ">
                    <span class="form-txt">{{content.phoneNumerTxt}}</span>
                </div>
                <input formControlName="phone" [pattern]="phoneNumber"  [placeholder]="content.phoneNumerPlaceHolder">
            </div>
        </form>
        </div>
        <div class="submit">
            <button [disabled]="!profileForm.valid" (click)="submit(profileForm.value)" class=" btn submit">{{content.submitBtnTxt}}</button>
        </div>
    </div>

</section>